In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
#import tn budget data
tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

In [3]:
tn.applymap(lambda c: c.strip() if isinstance(c, str) else c)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [4]:
#convert budget columns to ints
tn[['production_budget', 'domestic_gross', 'worldwide_gross']] = tn[['production_budget', 'domestic_gross', 'worldwide_gross']].replace('[\$,]', '', regex=True).astype(int)

In [5]:
#calculate domestic and international profits
tn['domestic_profit'] = tn['domestic_gross'] - tn['production_budget']
tn['international_profit'] = tn['worldwide_gross']- tn['production_budget']
tn['release_date'] = pd.to_datetime(tn['release_date'], yearfirst=True)
tn

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,international_profit
0,1,2009-12-18,Avatar,425000000,760507625,2776345279,335507625,2351345279
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,-169536125,635063875
2,3,2019-06-07,Dark Phoenix,350000000,42762350,149762350,-307237650,-200237650
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,303181382,999721747
...,...,...,...,...,...,...,...,...
5777,78,2018-12-31,Red 11,7000,0,0,-7000,-7000
5778,79,1999-04-02,Following,6000,48482,240495,42482,234495
5779,80,2005-07-13,Return to the Land of Wonders,5000,1338,1338,-3662,-3662
5780,81,2015-09-29,A Plague So Pleasant,1400,0,0,-1400,-1400
5781,82,2005-08-05,My Date With Drew,1100,181041,181041,179941,179941

In [6]:
#filter records to include only those in the last 5 years
cutoff = np.datetime64('2015-03-01')
tn = tn.loc[(tn['release_date'] > cutoff)]

In [7]:
#limit list to top fifty movies over the last five years by largest domestic profit
top_dom = tn.sort_values(by=['domestic_profit'],ascending=False).head(50)
# top_date_dom = tn.sort_values(by=['release_date', 'domestic_profit'], ascending=(False, False))

In [89]:
#create composite ID with yyyy of release and movie name
top_dom['year'] = top_dom['release_date'].apply(lambda y: y.year)
top_dom['combo_id'] = top_dom['year'].astype(str) + ' ' + top_dom['movie'] 
top_dom.head(50)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,domestic_profit,international_profit,year,combo_id
5,6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,630662225,1747311220,2015,2015 Star Wars Ep. VII: The Force Awakens
41,42,2018-02-16,Black Panther,200000000,700059566,1348258224,500059566,1148258224,2018,2018 Black Panther
33,34,2015-06-12,Jurassic World,215000000,652270625,1648854864,437270625,1433854864,2015,2015 Jurassic World
43,44,2018-06-15,Incredibles 2,200000000,608581744,1242520711,408581744,1042520711,2018,2018 Incredibles 2
6,7,2018-04-27,Avengers: Infinity War,300000000,678815482,2048134200,378815482,1748134200,2018,2018 Avengers: Infinity War
134,35,2017-03-17,Beauty and the Beast,160000000,504014165,1259199706,344014165,1099199706,2017,2017 Beauty and the Beast
44,45,2016-12-16,Rogue One: A Star Wars Story,200000000,532177324,1049102856,332177324,849102856,2016,2016 Rogue One: A Star Wars Story
437,38,2017-12-20,Jumanji: Welcome to the Jungle,90000000,404508916,964496193,314508916,874496193,2017,2017 Jumanji: Welcome to the Jungle
955,56,2016-02-12,Deadpool,58000000,363070709,801025593,305070709,743025593,2016,2016 Deadpool
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,303181382,999721747,2017,2017 Star Wars Ep. VIII: The Last Jedi
625,26,2016-07-08,The Secret Life of Pets,75000000,368384330,886750534,293384330,811750534,2016,2016 The Secret Life of Pets
1623,24,2017-09-08,It,35000000,327481748,697457969,292481748,662457969,2017,2017 It
45,46,2016-06-17,Finding Dory,200000000,486295561,1021215193,286295561,821215193,2016,2016 Finding Dory
154,55,2017-06-02,Wonder Woman,150000000,412563408,821133378,262563408,671133378,2017,2017 Wonder Woman
672,73,2015-07-10,Minions,74000000,336045770,1160336173,262045770,1086336173,2015,2015 Minions
95,96,2019-03-08,Captain Marvel,175000000,426525952,1123061550,251525952,948061550,2019,2019 Captain Marvel
112,13,2018-06-22,Jurassic World: Fallen Kingdom,170000000,417719760,1305772799,247719760,1135772799,2018,2018 Jurassic World: Fallen Kingdom
314,15,2018-05-18,Deadpool 2,110000000,324591735,786680557,214591735,676680557,2018,2018 Deadpool 2
627,28,2018-11-09,Dr. SeussÃ¢Â€Â™ The Grinch,75000000,270620950,511002426,195620950,436002426,2018,2018 Dr. SeussÃ¢Â€Â™ The Grinch
628,29,2016-12-21,Sing,75000000,270329045,634454789,195329045,559454789,2016,2016 Sing
156,57,2016-03-04,Zootopia,150000000,341268248,1019429616,191268248,869429616,2016,2016 Zootopia
48,49,2017-05-05,Guardians of the Galaxy Vol 2,200000000,389813101,862316233,189813101,662316233,2017,2017 Guardians of the Galaxy Vol 2
629,30,2017-06-30,Despicable Me 3,75000000,264624300,1034727750,189624300,959727750,2017,2017 Despicable Me 3
96,97,2016-04-15,The Jungle Book,175000000,364001123,962854547,189001123,787854547,2016,2016 The Jungle Book
97,98,2015-06-19,Inside Out,175000000,356461711,854235992,181461711,679235992,2015,2015 Inside Out
1604,5,2018-10-05,A Star is Born,36000000,215288866,433449571,179288866,397449571,2018,2018 A Star is Born
135,36,2018-12-21,Aquaman,160000000,335061807,1146894640,175061807,986894640,2018,2018 Aquaman
4248,49,2017-02-24,Get Out,5000000,176040665,255367951,171040665,250367951,2017,2017 Get Out
2865,66,2018-04-06,A Quiet Place,17000000,188024361,334522294,171024361,317522294,2018,2018 A Quiet Place
66,67,2015-04-03,Furious 7,190000000,353007020,1518722794,163007020,1328722794,2015,2015 Furious 7
983,84,2018-11-02,Bohemian Rhapsody,55000000,216303339,894985342,161303339,839985342,2018,2018 Bohemian Rhapsody
98,99,2017-07-07,Spider-Man: Homecoming,175000000,334201140,880166350,159201140,705166350,2017,2017 Spider-Man: Homecoming
16,17,2016-05-06,Captain America: Civil War,250000000,408084349,1140069413,158084349,890069413,2016,2016 Captain America: Civil War
2013,14,2015-05-15,Pitch Perfect 2,29000000,184296230,287625468,155296230,258625468,2015,2015 Pitch Perfect 2
2487,88,2019-03-22,Us,20000000,175006930,254210310,155006930,234210310,2019,2019 Us
99,100,2016-08-05,Suicide Squad,175000000,325100054,746059887,150100054,571059887,2016,2016 Suicide Squad
3535,36,2018-10-19,Halloween,10000000,159342015,254900667,149342015,244900667,2018,2018 Halloween
2163,64,2016-12-25,Hidden Figures,25000000,169607287,231771716,144607287,206771716,2016,2016 Hidden Figures
1837,38,2018-08-15,Crazy Rich Asians,30000000,174532921,238099711,144532921,208099711,2018,2018 Crazy Rich Asians
81,82,2017-11-03,Thor: Ragnarok,180000000,315058289,846980024,135058289,666980024,2017,2017 Thor: Ragnarok
2034,35,2015-08-14,Straight Outta Compton,28000000,161197785,202182981,133197785,174182981,2015,2015 Straight Outta Compton
4249,50,2017-01-20,Split,5000000,138141585,278964806,133141585,273964806,2017,2017 Split
2491,92,2016-12-09,La La Land,20000000,151101803,426351163,131101803,406351163,2016,2016 La La Land
3,4,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,128405868,1072413963,2015,2015 Avengers: Age of Ultron
138,39,2015-11-20,The Hunger Games: Mockingjay - Part 2,160000000,281723902,648986787,121723902,488986787,2015,2015 The Hunger Games: Mockingjay - Part 2
345,46,2015-10-02,The Martian,108000000,228433663,655271443,120433663,547271443,2015,2015 The Martian
2494,95,2017-11-17,Wonder,20000000,132422809,304604712,112422809,284604712,2017,2017 Wonder
412,13,2015-03-13,Cinderella,95000000,201151353,534551353,106151353,439551353,2015,2015 Cinderella
776,77,2018-07-13,Hotel Transylvania 3: Summer Vacation,65000000,167500092,527079962,102500092,462079962,2018,2018 Hotel Transylvania 3: Summer Vacation
1380,81,2019-05-17,John Wick: Chapter 3 Ã¢Â€Â” Parabellum,40000000,141744320,256498033,101744320,216498033,2019,2019 John Wick: Chapter 3 Ã¢Â€Â” Parabellum

In [9]:
#import genre info
genres = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
genres.applymap(lambda c: c.strip() if isinstance(c, str) else c)

genres['c_id'] = genres['start_year'].astype(str) + ' ' + genres['primary_title'] 

# genres.sort_values(by='c_id')

# print(genres.shape[0])
# print(genres['c_id'].unique)

In [10]:
name_match = pd.DataFrame()
name_match['top_dom_titles'] = top_dom['movie']
name_match['combo_id'] = top_dom['combo_id']
name_match['match'] = top_dom['movie'].isin(genres['primary_title']) 


# name_match.loc[(name_match['match'] == False)].count

In [11]:
name_match[0:10]

,top_dom_titles,combo_id,match
5,Star Wars Ep. VII: The Force Awakens,2015 Star Wars Ep. VII: The Force Awakens,False
41,Black Panther,2018 Black Panther,True
33,Jurassic World,2015 Jurassic World,True
43,Incredibles 2,2018 Incredibles 2,True
6,Avengers: Infinity War,2018 Avengers: Infinity War,True
134,Beauty and the Beast,2017 Beauty and the Beast,True
44,Rogue One: A Star Wars Story,2016 Rogue One: A Star Wars Story,True
437,Jumanji: Welcome to the Jungle,2017 Jumanji: Welcome to the Jungle,True
955,Deadpool,2016 Deadpool,True
4,Star Wars Ep. VIII: The Last Jedi,2017 Star Wars Ep. VIII: The Last Jedi,False

In [12]:
name_match = name_match.join(genres.set_index('c_id'), on='combo_id')

In [13]:
name_match = name_match.drop(['match', 'original_title'], axis=1)

In [92]:
name_match.head(50)

,top_dom_titles,combo_id,tconst,primary_title,start_year,runtime_minutes,genres
5,Star Wars Ep. VII: The Force Awakens,2015 Star Wars Ep. VII: The Force Awakens,NaN,NaN,NaN,NaN,NaN
41,Black Panther,2018 Black Panther,tt1825683,Black Panther,2018.0,134.0,"Action,Adventure,Sci-Fi"
33,Jurassic World,2015 Jurassic World,tt0369610,Jurassic World,2015.0,124.0,"Action,Adventure,Sci-Fi"
43,Incredibles 2,2018 Incredibles 2,tt3606756,Incredibles 2,2018.0,118.0,"Action,Adventure,Animation"
6,Avengers: Infinity War,2018 Avengers: Infinity War,tt4154756,Avengers: Infinity War,2018.0,149.0,"Action,Adventure,Sci-Fi"

In [78]:
#df_name_basics['known_for_titles'] = df_name_basics['known_for_titles'].map(lambda s: s.split(','))

# name_match['genres'] = name_match['genres'].map(lambda s: str(s).split(','))
tt = name_match.drop(['combo_id', 'primary_title', 'start_year', 'runtime_minutes', 'genres'], axis=1)

tt = tt.reset_index()
tt = tt.drop(['index'], axis=1)
tt

                           top_dom_titles     tconst
0    Star Wars Ep. VII: The Force Awakens        NaN
1                           Black Panther  tt1825683
2                          Jurassic World  tt0369610
3                           Incredibles 2  tt3606756
4                  Avengers: Infinity War  tt4154756
5                    Beauty and the Beast  tt2771200
6            Rogue One: A Star Wars Story  tt3748528
7          Jumanji: Welcome to the Jungle  tt2283362
8                                Deadpool  tt1431045
9       Star Wars Ep. VIII: The Last Jedi        NaN
10                The Secret Life of Pets  tt2709768
11                                     It  tt1396484
12                           Finding Dory  tt2277860
13                           Wonder Woman  tt0451279
14                                Minions  tt2293640
15                         Captain Marvel  tt4154664
16         Jurassic World: Fallen Kingdom  tt4881806
17                             Deadpool 2  tt5463162
18                Dr. SeussÃ¢Â€Â™ The Grinch        NaN
19                                   Sing  tt3470600
20                               Zootopia  tt2948356
21          Guardians of the Galaxy Vol 2        NaN
22                        Despicable Me 3  tt3469046
23                        The Jungle Book  tt3040964
24                             Inside Out  tt2096673
25                         A Star is Born        NaN
26                                Aquaman  tt1477834
27                                Get Out  tt5052448
28                          A Quiet Place  tt6644200
29                              Furious 7  tt2820852
30                      Bohemian Rhapsody  tt1727824
31                 Spider-Man: Homecoming  tt2250912
32             Captain America: Civil War  tt3498820
33                        Pitch Perfect 2  tt2848292
34                                     Us  tt6857112
35                          Suicide Squad  tt1386697
36                              Halloween  tt1502407
37                         Hidden Figures  tt4846340
38                      Crazy Rich Asians  tt3104988
39                         Thor: Ragnarok  tt3501632
40                 Straight Outta Compton  tt1398426
41                                  Split        NaN
42                             La La Land  tt3783958
43                Avengers: Age of Ultron  tt2395427
44  The Hunger Games: Mockingjay - Part 2  tt1951266
45                            The Martian  tt3659388
46                                 Wonder  tt2543472
47                             Cinderella  tt1661199
48                             Cinderella  tt5089556
49  Hotel Transylvania 3: Summer Vacation  tt5220122
50    John Wick: Chapter 3 Ã¢Â€Â” Parabellum        NaN

In [79]:
tt.iloc[18,0] = 'Dr. Seuss\' The Grinch'
tt.iloc[50,0] = 'John Wick: Chapter 3 - Parabellum'

In [82]:

tt.loc[tt['top_dom_titles'] == 'Star Wars Ep. VII: The Force Awakens', 'tconst'] = 'tt2488496'
tt.loc[tt['top_dom_titles'] == 'Star Wars Ep. VIII: The Last Jedi', 'tconst'] = 'tt2527336'
tt.loc[tt['top_dom_titles'] == 'Dr. Seuss\' The Grinch', 'tconst'] = 'tt2709692'
tt.loc[tt['top_dom_titles'] == 'Guardians of the Galaxy Vol 2', 'tconst'] = 'tt3896198'
tt.loc[tt['top_dom_titles'] == 'A Star is Born', 'tconst'] = 'tt1517451'
tt.loc[tt['top_dom_titles'] == 'Split', 'tconst'] = 'tt4972582'
tt.loc[tt['top_dom_titles'] == 'John Wick: Chapter 3 - Parabellum', 'tconst'] = 'tt6146586'

In [88]:
tt.head(50)

                           top_dom_titles     tconst
0    Star Wars Ep. VII: The Force Awakens  tt2488496
1                           Black Panther  tt1825683
2                          Jurassic World  tt0369610
3                           Incredibles 2  tt3606756
4                  Avengers: Infinity War  tt4154756
5                    Beauty and the Beast  tt2771200
6            Rogue One: A Star Wars Story  tt3748528
7          Jumanji: Welcome to the Jungle  tt2283362
8                                Deadpool  tt1431045
9       Star Wars Ep. VIII: The Last Jedi  tt2527336
10                The Secret Life of Pets  tt2709768
11                                     It  tt1396484
12                           Finding Dory  tt2277860
13                           Wonder Woman  tt0451279
14                                Minions  tt2293640
15                         Captain Marvel  tt4154664
16         Jurassic World: Fallen Kingdom  tt4881806
17                             Deadpool 2  tt5463162
18                  Dr. Seuss' The Grinch  tt2709692
19                                   Sing  tt3470600
20                               Zootopia  tt2948356
21          Guardians of the Galaxy Vol 2  tt3896198
22                        Despicable Me 3  tt3469046
23                        The Jungle Book  tt3040964
24                             Inside Out  tt2096673
25                         A Star is Born  tt1517451
26                                Aquaman  tt1477834
27                                Get Out  tt5052448
28                          A Quiet Place  tt6644200
29                              Furious 7  tt2820852
30                      Bohemian Rhapsody  tt1727824
31                 Spider-Man: Homecoming  tt2250912
32             Captain America: Civil War  tt3498820
33                        Pitch Perfect 2  tt2848292
34                                     Us  tt6857112
35                          Suicide Squad  tt1386697
36                              Halloween  tt1502407
37                         Hidden Figures  tt4846340
38                      Crazy Rich Asians  tt3104988
39                         Thor: Ragnarok  tt3501632
40                 Straight Outta Compton  tt1398426
41                                  Split  tt4972582
42                             La La Land  tt3783958
43                Avengers: Age of Ultron  tt2395427
44  The Hunger Games: Mockingjay - Part 2  tt1951266
45                            The Martian  tt3659388
46                                 Wonder  tt2543472
47                             Cinderella  tt1661199
48                             Cinderella  tt5089556
49  Hotel Transylvania 3: Summer Vacation  tt5220122

In [85]:
tt_list = list(tt.tconst)

In [86]:
tt_list

['tt2488496',
 'tt1825683',
 'tt0369610',
 'tt3606756',
 'tt4154756',
 'tt2771200',
 'tt3748528',
 'tt2283362',
 'tt1431045',
 'tt2527336',
 'tt2709768',
 'tt1396484',
 'tt2277860',
 'tt0451279',
 'tt2293640',
 'tt4154664',
 'tt4881806',
 'tt5463162',
 'tt2709692',
 'tt3470600',
 'tt2948356',
 'tt3896198',
 'tt3469046',
 'tt3040964',
 'tt2096673',
 'tt1517451',
 'tt1477834',
 'tt5052448',
 'tt6644200',
 'tt2820852',
 'tt1727824',
 'tt2250912',
 'tt3498820',
 'tt2848292',
 'tt6857112',
 'tt1386697',
 'tt1502407',
 'tt4846340',
 'tt3104988',
 'tt3501632',
 'tt1398426',
 'tt4972582',
 'tt3783958',
 'tt2395427',
 'tt1951266',
 'tt3659388',
 'tt2543472',
 'tt1661199',
 'tt5089556',
 'tt5220122',
 'tt6146586']

In [87]:
for tt in tt_list:
    url = 'http://www.omdbapi.com/?i={}&apikey=533777cf&plot=short&r=json'.format(tt)
    response = requests.request('GET', url)

In [ ]:


response = requests.request('GET', url)

response.text